[Unit]
Description=User suspend actions
Before=suspend.target

[Service]
Type=oneshot
ExecStart=/home/jon/.local/bin/lock

[Install]
WantedBy=suspend.target
WantedBy=sleep.target
